In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2022-04-27 02:46:25,39.0500,-27.9833,61.56,93,66,22.57
1,1,Busselton,AU,2022-04-27 02:46:25,-33.6500,115.3333,63.93,62,34,11.72
2,2,Dharmavaram,IN,2022-04-27 02:44:21,14.4333,77.7167,91.31,32,3,6.02
3,3,Salmas,IR,2022-04-27 02:46:26,38.1973,44.7653,54.66,73,99,2.19
4,4,Los Llanos De Aridane,ES,2022-04-27 02:46:26,28.6585,-17.9182,58.75,79,40,9.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights= clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights= wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Wagar,SD,2022-04-27 02:46:29,16.1525,36.2032,83.93,30,36,7.65
11,11,Victoria,HK,2022-04-27 02:46:30,22.2855,114.1577,88.25,70,0,7.00
16,16,Clarence Town,AU,2022-04-27 02:46:32,-32.5833,151.7833,75.94,76,100,2.59
17,17,Puerto El Triunfo,SV,2022-04-27 02:46:32,13.2833,-88.5500,86.92,74,94,5.39
24,24,Hobyo,SO,2022-04-27 02:46:35,5.3505,48.5268,82.67,70,98,7.54
41,41,Bengkulu,ID,2022-04-27 02:46:44,-3.8004,102.2655,84.52,70,58,4.27
46,46,Georgetown,MY,2022-04-27 02:45:30,5.4112,100.3354,87.73,78,20,4.61
48,48,Diamantino,BR,2022-04-27 02:47:48,-14.4086,-56.4461,75.97,63,24,4.85
53,53,Dhidhdhoo,MV,2022-04-27 02:47:51,6.8833,73.1000,84.49,70,57,2.53
55,55,Hithadhoo,MV,2022-04-27 02:47:52,-0.6000,73.0833,84.34,73,99,5.28

In [20]:
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
9               Wagar      SD     83.93  16.1525   36.2032
11           Victoria      HK     88.25  22.2855  114.1577
16      Clarence Town      AU     75.94 -32.5833  151.7833
17  Puerto El Triunfo      SV     86.92  13.2833  -88.5500
24              Hobyo      SO     82.67   5.3505   48.5268
41           Bengkulu      ID     84.52  -3.8004  102.2655
46         Georgetown      MY     87.73   5.4112  100.3354
48         Diamantino      BR     75.97 -14.4086  -56.4461
53          Dhidhdhoo      MV     84.49   6.8833   73.1000
55          Hithadhoo      MV     84.34  -0.6000   73.0833

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Wagar,SD,83.93,16.1525,36.2032,
11,Victoria,HK,88.25,22.2855,114.1577,Mini Hotel Central
16,Clarence Town,AU,75.94,-32.5833,151.7833,River Downs Cottage
17,Puerto El Triunfo,SV,86.92,13.2833,-88.5500,Hotel Jardin
24,Hobyo,SO,82.67,5.3505,48.5268,Iftin hotel hobyo
...,...,...,...,...,...,...
551,Igbo Ora,NG,77.76,7.4333,3.2833,Pinkbell Inn
569,Eyl,SO,80.29,7.9803,49.8164,Amiin Hotel
570,Soke,ML,84.58,13.5980,-5.9386,
574,Kralendijk,BQ,79.68,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
575,Iralaya,HN,77.88,15.0000,-83.2333,Iglesia morava renovada

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))